@import "../../styles/variables";

.text-box {
    background-color: $primary-color;
    margin: 6rem 0;
}

.image-wrapper {
    overflow: hidden;
    position: relative;
    max-width: 50vw;
    transform: skew(12deg, 0);
}

.img-fluid {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    -webkit-transform: skew(12deg, 0);
    transform: skew(-12deg);
    overflow: hidden;
    width: calc(100% - 15px);
    
    &:hover {
        z-index: 1;
        width: calc(100% + 30px);
    }
}

.light-text {
    color: $light-color;
}

.description-text {
    padding: 0 2rem;
}

.text-lg-right {
    text-align: end;
}

.button-unique {
    /* Layout Properties */
    width: 200px;
    height: 48px;
    /* UI Properties */
    background: $secondary-color 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
}

@media (max-width: 992px) {
    .description-text {
        padding: 2rem;
    }
}
