@import "../../styles/variables";

.text-box {
    background-color: $primary-bg-color;
    margin-bottom: 6rem;
}

.image-wrapper {
    max-width: 50%;
}

.content-box {
    width: 50%;
}

.text-color {
    color: $primary-color;
}

.description-text {
    padding: 0 2rem;
}

.text-lg-right {
    text-align: end;
}

.button-unique {
    /* Layout Properties */
    width: 200px;
    height: 48px;
    /* UI Properties */
    background: $secondary-color 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .description-text {
        padding: 0 2rem;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .text-box {
        flex-direction: column;
    }

    .image-wrapper {
        max-width: 100%;
        margin-bottom: 1.5rem;
    }

    .content-box {
        width: 100%;
        justify-content: center;
    }

    .description-text {
        padding: 0 2rem;
        max-width: 100%;
    }
}


