@import 'electrician-vue-components/GlobalComponents/globals';

.brand-section {
    display: flex;
    align-items: center;
    font-size: 40px;
    line-height: 40px;
    color: $primaryColor;
    font-family: $primaryFontFamily;
    font-weight: 600;
    position: relative;
    padding: 9px 0 9px 25px;
    letter-spacing: -1.3px;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;

    img {
        height: 47px;
        width: 30px;
        filter: invert(53%) sepia(91%) saturate(492%) hue-rotate(349deg) brightness(104%) contrast(98%);
    }

    .title {
        display: inline;
        margin-left: 5px;
    }

    .brand-section-logo::before {
        content: "";
        z-index: 1;
        position: absolute;
        left: 25px;
        top: -100%;
        width: 45px;
        height: 23px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, white), to(rgba(255, 255, 255, 0)));
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
        -webkit-transition: 0s ease-in-out;
        transition: 0s ease-in-out;
        pointer-events: none;
        -webkit-animation: lightning 4.3s infinite ease-in;
        animation: lightning 4.3s infinite ease-in;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
    }
}

@-webkit-keyframes lightning {
    from {
        top: -100%;
        width: 45px;
    }
    50% {
        top: 100%;
        width: 20px;
    }
    to {
        top: 100%;
        width: 10px;
    }
}

@keyframes lightning {
    from {
        top: -100%;
        width: 45px;
    }
    50% {
        top: 100%;
        width: 20px;
    }
    to {
        top: 100%;
        width: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .brand-section {
        font-size: 32px;
        
        img {
            height: 37px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .brand-section {
        padding: 9px 10px;
        font-size: 24px;

        .brand-section-logo::before {
            left: 10px;
        }
        
        img {
            height: 27px;
            width: 30px;
            filter: invert(53%) sepia(91%) saturate(492%) hue-rotate(349deg) brightness(104%) contrast(98%);
        }
    }

    .navbar-brand {
        margin-right: 0;
    }
}

@media only screen and (max-width: 320px) {
    .title {
        font-size: 21px;
    }
}