@import "../Style.scss";

.btn {
    padding: .75rem 1.25rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Layout Properties */
    width: 200px;
    height: 48px;
    /* UI Properties */
    background: $secondaryColor 0% 0% no-repeat padding-box;
    color: $light-color !important;
    border: 1px solid $secondaryColor;
    border-radius: 6px;
    box-shadow: none;
}

.btn:hover {
    color: $secondaryColor-lighter !important;
    background-color: $light-color;
    border-color: $secondaryColor-lighter;
    box-shadow: none;
}

.btn:disabled {
    background-color: $secondaryColor-darker;
    border-color: $secondaryColor-darker;
}

@media only screen and (max-width: 768px) {
    .btn-l {
        margin-left: 0;
    }
}
