@import "../../styles/variables";

.title {
    @extend .primary-text;
    font: normal normal bold 36px $primary-font-family;
    line-height: 46px;
    width: 550px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.content {
    @extend .secondary-text;
    font: normal normal normal 16px $primary-font-family;
    line-height: 27px;
    letter-spacing: 0.48px;
    opacity: 1;
    white-space: pre-wrap;
    margin-bottom: 6rem;
}

.order-lg-first {
    .description-text {
        padding-right: 2rem;
    }
}

.link {
    margin-top: 1.5rem;
}

.btn, .btn:disabled {
    /* Layout Properties */
    width: 200px;
    height: 48px;
    /* UI Properties */
    background: $secondary-color 0% 0% no-repeat padding-box;
    border-color: $secondary-color;
    border-radius: 6px;
}

.btn:hover {
    background-color: $secondary-color-lighter;
    border-color: $secondary-color-lighter;
}

.btn:disabled {
    background-color: $secondary-color-darker;
    border-color: $secondary-color-darker;
}

.btn-l {
    padding: .75rem 1.25rem;
    font-family: $primary-font-family;
    font-size: 1rem;
    font-weight: 700;
}
