@import "../Style.scss";

.nav-link {
    &:hover {
        animation: shaking 0.4s 2;
        color: $secondaryColor !important;
    }
    
    @keyframes shaking {
        0% {transform: translateX(-10px);}
        20% {transform: translateX(-5px);}
        50% {transform: translateX(-5px);}
        70% {transform: translateX(-5px);}
        80% {transform: translateX(10px);}
        90% {transform: translateX(-10px);}
    }
}