@import 'electrician-vue-components/GlobalComponents/globals';

.nav-item {
    margin-left: 2rem;

    .nav-link {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        position: relative;
        color: $primaryColor;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-item {
        margin-left: 1rem;
    
        .nav-link {
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            position: relative;
            color: $primaryColor;
        }
    }
}

@media screen and (max-width: 768px) {
    .nav-item {
        margin: 0;
    }    
}
