footer.footer-area
    .container
        .row.justify-content-between
            .col-md-6(v-for='column_section in column_sections')
                .footer-widget
                    dynamic-component(
                        v-bind:component_infos='column_section'
                    )
            .col-md-6.col-sm-12.address-text-right.pb-5.pt-lg-0
                .footer-widget
                    h4 {{ address.street }},
                    h4 {{ address.city }}
                    .footer-email
                        a(:href="'mailto:' + address.email") {{ address.email }}
                    h5 {{ address.open }}
                    h6.footer-phone {{ address.phone_number }}
        .row.justify-content-between.mt-2
            .col
                .tiny-footer
                    p {{ copyright.copy }} 
            .col.text-right
                .social-info
                    dynamic-component.text-center(
                        v-bind:component_infos='bottom_right_section'
                    )
