@import 'electrician-vue-components/GlobalComponents/styles/globals';

.navbar {
    background-color: white;
}
.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    i {
        margin-left: 15px;
    }

    &:focus {
        box-shadow: none;
    }
}


.topbar {
    min-height: $topbar-base-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-bg-color;
    font-family: $primary-font-family;
    padding: 25px 65px 25px 40px;
}

.sidebar-brand {
    color: $primary-color;
    margin-bottom: 0rem;
    &:hover {
        color: $secondary-color-lighter;
    }
}

.menu {
    display: flex;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}

.btn, .btn:disabled {
    padding: .75rem 1.25rem;
    font-family: $primary-font-family;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 35px;

    /* Layout Properties */
    width: 200px;
    height: 48px;
    /* UI Properties */
    background: $secondary-color 0% 0% no-repeat padding-box;
    color: $light-color;
    border: 1px solid $secondary-color;
    border-radius: 6px;
    box-shadow: none;
}

.btn:hover {
    color: $secondary-color-lighter;
    background-color: $light-color;
    border-color: $secondary-color-lighter;
    box-shadow: none;
}

.btn:disabled {
    background-color: $secondary-color-darker;
    border-color: $secondary-color-darker;
}

@media only screen and (max-width: 768px) {
    .btn-l {
        margin-left: 0;
    }
}

@media only screen and (max-width: 425px) {
    .navbar {
        padding: 35px;
        justify-content: center;
    }

    .navbar-collapse {
        justify-content: center;
    }
}
