@import 'electrician-vue-components/GlobalComponents/globals';

.navbar {
    background-color: $light-color;
}
.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    i {
        margin-left: 15px;
    }

    &:focus {
        box-shadow: none;
    }
}

.topbar {
    min-height: $topbar-base-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-bg-color;
    font-family: $primaryFontFamily;
    padding: 25px 65px 25px 40px;
}

.sidebar-brand {
    color: $primaryColor;
    margin-bottom: 0rem;
    &:hover {
        color: $secondaryColor-lighter;
    }
}

.menu {
    display: flex;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .navbar-toggler {
        display: flex;
    }
}

@media only screen and (max-width: 425px) {
    .navbar {
        padding: 15px 0;
        justify-content: center;
    }

    .navbar-collapse {
        justify-content: center;
    }
}

@media only screen and (max-width: 320px) {
    .button-menu {
        display: none;
    }
}
