@import 'electrician-vue-components/GlobalComponents/styles/globals';

.nav-link {
    font-size: 18px;
    line-height: 28px;
    color: $primary-color !important;
    font-weight: 600;
    position: relative;
    padding: 9px 0 9px 25px;

    &:hover {
        animation: shaking 0.4s 2;
        color: $secondary-color !important;
    }
    
    @keyframes shaking {
        0% {transform: translateX(-10px);}
        20% {transform: translateX(-5px);}
        50% {transform: translateX(-5px);}
        70% {transform: translateX(-5px);}
        80% {transform: translateX(10px);}
        90% {transform: translateX(-10px);}
    }
}

@media screen and (max-width: 768px) {
    .nav-item {
        margin: 0;
    }    
}
