@import "../formItem.scss";

.form-group {
    height: calc(100% - 2.5rem);
    padding-bottom: 0;
    margin-bottom: 0;
}

textarea {
    height: 100%;
    padding: 1.25rem;
    min-height: 10rem;
}
