section
	.container-column-elements
		.column-elements
			.column-elements-wrapper
				.elements-wrapper
					.elements-wrapper-container
						.section-indent
							.slideinfo-wrapper
								.slideinfo(@mouseover='mouseOver(1)' @mouseleave='mouseLeave' :class='[ [activetedActiveClass ? (1 == activeItem ? "active" : "short") : ""], { "open-info": 1 == openInfoItem } ]')
									.item-bg
										.lazyloaded(data-bg='https://smartdata.tonytemplates.com/electrician-v2/wp-content/uploads/2020/07/slideinfo-01.jpg' style='background-image: url("https://smartdata.tonytemplates.com/electrician-v2/wp-content/uploads/2020/07/slideinfo-01.jpg");')
										.item-bg-top
									.item-content
										.item-title
											span.item-icon
												img(decoding='async' src='https://smartdata.tonytemplates.com/electrician-v2/wp-content/plugins/electricity-core/assets/images/slideinfo-marker.png' data-src='https://smartdata.tonytemplates.com/electrician-v2/wp-content/plugins/electricity-core/assets/images/slideinfo-marker.png' alt='')
											span.item-text Commercial
										.item-description
											| We offer the highest level of responsiveness and reliability, including on-line job management and reporting. Our highly experienced contractors across the nation ensure that your premises are always maintained and compliant.
										.item-btn
											a(@click='openInfo(1)') {{ 1 == openInfoItem ? '-' : '+' }}
								.slideinfo(@mouseover='mouseOver(2)' @mouseleave='mouseLeave' :class='[ [activetedActiveClass ? (2 == activeItem ? "active" : "short") : ""], { "open-info": 2 == openInfoItem } ]')
									.item-bg
										.lazyloaded(data-bg='https://smartdata.tonytemplates.com/electrician-v2/wp-content/uploads/2020/07/slideinfo-02.jpg' style='background-image: url("https://smartdata.tonytemplates.com/electrician-v2/wp-content/uploads/2020/07/slideinfo-02.jpg");')
										.item-bg-top
									.item-content
										.item-title
											span.item-icon
												img(decoding='async' src='https://smartdata.tonytemplates.com/electrician-v2/wp-content/plugins/electricity-core/assets/images/slideinfo-marker.png' data-src='https://smartdata.tonytemplates.com/electrician-v2/wp-content/plugins/electricity-core/assets/images/slideinfo-marker.png' alt='')
											span.item-text Industrial
										.item-description
											| We offer the highest level of responsiveness and reliability, including on-line job management and reporting. Our highly experienced contractors across the nation ensure that your premises are always maintained and compliant.
										.item-btn
											a(@click='openInfo(2)') {{ 2 == openInfoItem ? '-' : '+' }}
								.slideinfo(@mouseover='mouseOver(3)' @mouseleave='mouseLeave' :class='[ [activetedActiveClass ? (3 == activeItem ? "active" : "short") : ""], { "open-info": 3 == openInfoItem } ]')
									.item-bg
										.lazyloaded(data-bg='https://smartdata.tonytemplates.com/electrician-v2/wp-content/uploads/2020/07/slideinfo-03.jpg' style='background-image: url("https://smartdata.tonytemplates.com/electrician-v2/wp-content/uploads/2020/07/slideinfo-03.jpg");')
										.item-bg-top
									.item-content
										.item-title
											span.item-icon
												img(decoding='async' src='https://smartdata.tonytemplates.com/electrician-v2/wp-content/plugins/electricity-core/assets/images/slideinfo-marker.png' data-src='https://smartdata.tonytemplates.com/electrician-v2/wp-content/plugins/electricity-core/assets/images/slideinfo-marker.png' alt='')
											span.item-text Residential
										.item-description
											| We offer the highest level of responsiveness and reliability, including on-line job management and reporting. Our highly experienced contractors across the nation ensure that your premises are always maintained and compliant.
										.item-btn
											a(@click='openInfo(3)') {{ 3 == openInfoItem ? '-' : '+' }}		