@import "../../../styles/variables";

.item-content {
    max-width: 390px;
    color: #ffffff;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.item-title {
    font-size: 36px;
    line-height: 1;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    position: relative;
    z-index: 2;
    text-shadow: #8db8e3 1px 0 20px;
}

.item-icon {
    display: inline-block;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.44;

    img {
        font-weight: 600;
        vertical-align: middle;
        box-sizing: border-box;
        height: 100px;
        max-width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
        filter: invert(99%) sepia(2%) saturate(4569%) hue-rotate(228deg) brightness(118%) contrast(100%);
    }

    .item-text {
        position: relative;
        z-index: 2;
    }

}

.item-description {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 337px;
    text-shadow: #8db8e3 1px 0 20px;
    white-space: pre-wrap;
}
