@import '../../styles/variables';
@import '../../../../helper-vue-components/src/IconLinks/ButtonIconLink2/Style.scss';

.btn-social {
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 0;
}

.btn.btn-light {
    &:hover {
        background-color: $secondary-color !important;
    }
}
