@import "electrician-vue-components/GlobalComponents/globals";

.carousel {
    margin-top: 1rem;
    margin-bottom: 6rem;
}

@media (max-width: 425px) {
    .carousel {
        margin-top: 11rem;
        margin-bottom: 3rem;
    }
}
