.item-content
    .item-title
        span.item-icon
            img(decoding='async' src='assets/img/bolt-lightning-solid.svg' data-src='assets/img/bolt-lightning-solid.svg' alt='')
        span.item-text {{ title }}
    .item-description
        | {{ content }}